/* variáveis CSS globais */
:root {
    --cor-neve: #fffafa;
    --cor-verde-claro: #e3fbe3;
    --cor-verde-transparente: #e3fbe380;
    --cor-verde-musgo: rgba(30,130,30, 0.7); 
    --cor-verde-limao: limegreen;
    --cor-preto: #000000;
    --cor-texto:  #212529;
    --cor-branco: #ffffff;
    --cor-cinza:  #aaaaaa;
    --cor-cinza-escuro:  #000000bf;
    --cor-cinza-claro: #dcdcdc;
    --cor-dourado: #eb783f;

    --altura-titulo: 2em;
    --altura-subtitulo: 1.5em;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: var(--cor-neve);
}

header {
    background: var(--cor-verde-claro);
    padding-block: 16px;               /* padding-top: 8px; padding-bottom: 8px  */
    padding-inline: 16px;              /* padding-left: 8px; padding-right: 8px  */
}

nav {
    /* background-color: white; */
    height: 175px;                     /* altura da imagem  */
    max-width: 1280px;
    margin-inline: auto;               /* margin-left: auto; margin-right: auto */

    /* alinha horizontalmente o logo e a lista  */
    display: flex;                     /* padrão = flex-direction: row  */
    justify-content: space-between;    /* justificação horizontal */
    align-items: center;               /* posicionamento vertical */
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    user-select: none;                  /* não permite selecionar texto */
}

nav ul a {
    color: var(--cor-preto);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover {
    color: var(--cor-dourado);
    text-decoration: underline;
}

.banner {
    width: 100vw;
}


footer {
	text-align: center;
	background:  url("../img/bg.png");
	padding-block: 16px;
}

footer p {
	color:  var(--cor-branco);
	font-size: 13px;
	margin-top: 16px;
    cursor: default;
    user-select: none;        /* não permite selecionar texto */
}

.icone-fa {
    color: var(--cor-verde-musgo);
    font-size: 0.8em;
    margin-right: 0.2em;
}

@media only screen and (max-width: 800px){
    
    nav {
        justify-content: right; 
    }

    nav ul {
        position: fixed;
        top: 8px;
        left: 8px;
        flex-direction: column;
        gap: 8px;
        background: var(--cor-verde-transparente);
        padding: 5px;
        border: 1px solid var(--cor-verde-limao);
        border-radius: 10px;
    }  

}